Repository osucoding/Cardier, pull requests merged in 2024-01, with the labels that each got.

#17 Card View
  Xcode/Cardier.xcodeproj/project.pbxproj
  Xcode/Cardier.xcodeproj/project.xcworkspace/contents.xcworkspacedata
  Xcode/Cardier.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
  Xcode/Cardier/Assets.xcassets/AccentColor.colorset/Contents.json
  Xcode/Cardier/Assets.xcassets/AppIcon.appiconset/Contents.json
  Xcode/Cardier/Assets.xcassets/Contents.json
  Xcode/Cardier/Cardier.xcdatamodeld/.xccurrentversion
  Xcode/Cardier/Cardier.xcdatamodeld/Cardier.xcdatamodel/contents
  Xcode/Cardier/CardierApp.swift
  Xcode/Cardier/ContentView.swift
  Xcode/Cardier/Persistence.swift
  Xcode/Cardier/Preview Content/Preview Assets.xcassets/Contents.json
  Xcode/Cardier/dtos/BusinessCardPayload.swift
  Xcode/Cardier/views/ContentView.swift
  Xcode/Cardier/views/components/BusinessCard.swift
  Xcode/README.md
Labels: feature, iOS

#22 Feature/#14 spring boot skeleton
  .gitignore
  backend/.gitignore
  backend/.mvn/wrapper/maven-wrapper.jar
  backend/.mvn/wrapper/maven-wrapper.properties
  backend/mvnw
  backend/mvnw.cmd
  backend/pom.xml
  backend/src/main/java/osu/example/cardier/CardierApplication.java
  backend/src/main/java/osu/example/cardier/controller/StatusController.java
  backend/src/main/resources/application.yml
  backend/src/test/java/osu/example/cardier/CardierApplicationTests.java
Labels: backend

#26 Feature/10 main screen
  Xcode/Cardier.xcodeproj/project.pbxproj
  Xcode/Cardier.xcodeproj/xcshareddata/xcschemes/Cardier.xcscheme
  Xcode/Cardier/deprecated/ContentViewOriginal.swift
  Xcode/Cardier/dto/BusinessCardPayload.swift
  Xcode/Cardier/view/ContentView.swift
  Xcode/Cardier/view/component/BusinessCard.swift
  Xcode/Cardier/view/page/home/HomeView.swift
  Xcode/Cardier/view/page/my-page/MyPageView.swift
  Xcode/Cardier/views/ContentView.swift
Labels: iOS

#28 Package name fix
  backend/src/main/java/com/github/osucoding/cardier/CardierApplication.java
  backend/src/main/java/com/github/osucoding/cardier/controller/StatusController.java
  backend/src/test/java/com/github/osucoding/cardier/CardierApplicationTests.java
Labels: backend
